# Cancer incidence trends in young adults

## Introduction

The idea of this project comes from a conversation I recently have with a friend of mine who worked in a cancer retreat center. The friend is a medical professional who worked at the center for many years. He noticed that over the past 10 years, there have been more relatively young patients in the center than it was before. The friend was inclined to attribute this observation to the deteriorating quality of air, food, and other environmental factors. I skeptically suggested that there are other possible explanations of this phenomenon. 10 years ago, the friend himself was younger and could perceive typical patients as older.

Cancer is a class of diseases in which some of the body’s cells grow uncontrollably and spread to other organs and tissues. Most cancers form a tumor. According to modern concepts, cancer is caused by changes to genes that control the way our cells function, especially how they grow and divide. Despite intensive research and development of new treatments, cancer remains the leading causes of death worldwide. In 2018, there were 18.1 million new cases and 9.5 million cancer-related deaths worldwide. By 2040, the number of new cancer cases per year is expected to rise to 29.5 million and the number of cancer-related deaths to 16.4 million [[1]](#ref_1).

Cancer can be considered an age-related disease because the incidence of most cancers increases with age, rising more rapidly beginning in midlife. Despite the fact that the disease can occur at any age, more than half of all cancers occurred in adults aged ≥65 years [[2]](#ref_2). Therefore, for a long time, cancer was considered a disease predominantly affecting the elderly. Given this age specificity, a possible increase in the number of diseases among younger age groups may be of great interest.


<figure>
  <img src="media/cancer_and_age.jpg" alt="Invasive cancer incidence, by age, U.S., 2009">
  <figcaption>
      <center>
          <strong>
              Figure 1. Invasive cancer incidence, by age, U.S., 2009 <a href="#ref_2">[2]</a>
          </strong>
      </center>
  </figcaption>
</figure>
    
    
As a software developer I am interested in Digital health. The idea of using information technologies to enhance the efficiency of healthcare seems very promising. Collection and analysis of health data using the data-science approach could potentially improve our understanding of diseases such as cancer. Therefore, I decided to investigate my friend's observation. Using available data and data-science approach it seems possible to determine if young adults have become more often diagnosed with cancer in recent decades.

## Aims and Objectives

Within this research project my aim is to find out if young adults are more likely to be diagnosed with cancer in the recent decades. The goal is to get a big picture across all regions of the world and all ethnic groups. I want to take into account population changes and other possible factors that can skew the statistics.

For the purpose of this project, a young adult is considered to be between the ages of 15 and 45. This range was chosen because people younger than 15 have other types of cancer with different epidemiological dynamics that are outside the scope of this study [[3]](#ref_3). The age group over 45 also has its own epidemiological dynamics. It has long seen an increase in morbidity, but it is attributed mainly to an increase in overall life expectancy and a decrease in mortality from other causes [[4]](#ref_4). This is also outside the scope of this study.

## Literature Review

I found several articles on the Internet in which the issue is studied. Below I provide a summary and key findings that are relevant in the context of this study.

**Incidence trends for twelve cancers in younger adults—a rapid review. Br J Cancer 126, 1374–1386 (2022). [[5]](#ref_5)**

This paper analyzed the epidemiological information of some types of cancer in young adult patients, and came to the following conclusion: "Overall, this review provides evidence that some cancers are increasingly being diagnosed in younger age groups, although the mechanisms remain unclear." [[5]](#ref_5) This is a meta-analysis of existing studies on different types of cancer, but my goal is to explore the big picture across all types of cancer. The sources used in the article were mainly originated from the United States, while my goal is to get numbers for all countries.

**Trends in Cancer Incidence in US Adolescents and Young Adults, 1973-2015 [[6]](#ref_6)**.

Some findings from this paper: "In this serial cross-sectional, US population-based study using cancer registry data from 497 452 AYAs, the rate of cancer increased by 29.6% from 1973 to 2015, with kidney carcinoma increasing at the greatest rate. Breast carcinoma and testicular cancer were the most common cancer diagnoses for female and male AYAs, respectively." [[6]](#ref_6)

The autors coclude: "In this cross-sectional, US population-based study, cancer in AYAs was shown to have a unique epidemiological pattern and is a growing health concern, with many cancer subtypes having increased in incidence from 1973 to 2015. Continued research on AYA cancers is important to understanding and addressing the distinct health concerns of this population." [[6]](#ref_6) AYA is stands for Adolescents and Young Adults.

The findings from this paper also support the idea that the increase in the number of diseases among young people in the United states has natural causes. However, the article is focused on the United States, while my goal is to get the overal picture for all regions of the world.

## Method

* Acquiring a dataset that is fit for purpose.
    1. Describe data requirements
    2. Evaluate different possible data sources
    3. Select a data source that fit for purpose
* Exploring the dataset through different lenses, identifying key features and potential flaws in the data
* Produce a systematic, rigorous and well-reasoned report on how you work through the dataset.

## Dataset

The only source for the agregated cancer worldwide statistics is [International Agency for Research on Cancer (IARC)](https://www.iarc.fr/).

### Preprocess

In [1]:
!pip install pandas==1.4.2

import os
import requests
import zipfile
import re
import io
import codecs
from urllib.parse import urlparse
import pandas as pd

Requirement already satisfied: pandas==1.4.2 in /Users/dima/opt/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in /Users/dima/opt/anaconda3/lib/python3.9/site-packages (from pandas==1.4.2) (1.20.3)
Requirement already satisfied: pytz>=2020.1 in /Users/dima/opt/anaconda3/lib/python3.9/site-packages (from pandas==1.4.2) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/dima/opt/anaconda3/lib/python3.9/site-packages (from pandas==1.4.2) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/dima/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas==1.4.2) (1.16.0)

Download "detailed data" files from https://ci5.iarc.fr/ci5i-x/pages/download.aspx for each volumes.

In [2]:
urls = (
    "https://ci5.iarc.fr/CI5-X/CI5-Xd.zip",
    "https://ci5.iarc.fr/ci5i-x/old/vol9/CI5-IXd.zip",
    "https://ci5.iarc.fr/ci5i-x/old/vol8/CI5-VIIId.zip",
    "https://ci5.iarc.fr/ci5i-x/old/vol7/CI5-VIId.zip",
    "https://ci5.iarc.fr/ci5i-x/old/vol6/CI5-VI.zip",
    "https://ci5.iarc.fr/ci5i-x/old/vol5/CI5-V.zip"
)

os.makedirs("CI5", exist_ok=True)

def download_if_not_exists(url, path):
    if os.path.exists(path):
        print(f"File {path} exists in cache")
    else:
        print(f"Downloading {url}...")
        response = requests.get(url)
        print(f"Save to {path}")
        open(path, "wb").write(response.content)

def unzip(file_path, target_dir):
    print(f"Extract {file_path} to {target_dir}")
    with zipfile.ZipFile(file_path, "r") as zip_ref:
        zip_ref.extractall(target_dir)

for url in urls:
    url_path = urlparse(url).path
    file_name = os.path.basename(url_path)
    file_path = os.path.join("CI5", file_name)
    volume_name = os.path.splitext(file_name)[0]
    volume_path = os.path.join("CI5", volume_name)
    
    if os.path.exists(volume_path):
        print(f"Volume {volume_name} exists in cache")
    else:
        download_if_not_exists(url, file_path)
        unzip(file_path, os.path.join("CI5", volume_name))

Volume CI5-Xd exists in cache
Volume CI5-IXd exists in cache
Volume CI5-VIIId exists in cache
Volume CI5-VIId exists in cache
Volume CI5-VI exists in cache
Volume CI5-V exists in cache

#### Process volumes

##### Process CI5-V

In [3]:
v_registry_df = pd.read_csv("CI5/CI5-V/registry.txt", sep="\t", index_col=0)
v_cases_df = pd.read_csv("CI5/CI5-V/cases.csv", index_col=0)

v_df = v_registry_df.join(v_cases_df, how="inner", lsuffix="_registry")
v_df["PERIOD"] = v_df["PERIOD_1"].astype(str) + '-' + v_df["PERIOD_2"].astype(str)
v_df


v_df = v_df[["PERIOD", "N0_4","N5_9","N10_14","N15_19","N20_24","N25_29","N30_34","N35_39","N40_44","N45_49","N50_54","N55_59","N60_64","N65_69","N70_74","N75_79","N80_84","N85+","N_UNK"]]

v_df = v_df.groupby(["PERIOD"]).sum()

v_df

,N0_4,N5_9,N10_14,N15_19,N20_24,N25_29,N30_34,N35_39,N40_44,N45_49,N50_54,N55_59,N60_64,N65_69,N70_74,N75_79,N80_84,N85+,N_UNK
PERIOD,,,,,,,,,,,,,,,,,,,
1973-1982,104,60,83,109,191,225,317,458,613,964,1339,1640,2028,2468,2722,2366,2226,1513,0
1977-1981,25561,17852,14268,21619,26581,45167,71753,73766,102870,155290,220232,311157,356729,530518,533940,402069,235849,134159,12506
1978-1978,655,357,278,460,713,953,1440,1973,3098,4711,5979,6000,6414,5975,4963,3446,1795,902,4200
1978-1979,66,72,64,72,144,331,516,1010,1501,1821,2608,3937,3884,7089,8291,7130,4935,2986,0
1978-1980,93,53,29,57,89,198,454,666,1025,1405,1785,1932,2110,2443,2057,1693,961,379,52
1978-1981,4451,2114,2322,3327,5137,8708,14056,19693,31630,50797,70453,87506,90347,112726,111360,83853,46491,23774,54
1978-1982,83672,49581,53179,89948,139238,226030,332676,436280,636450,966805,1494518,2129954,2447409,2922942,2925753,2409505,1568954,1099756,15284
1979-1982,40655,27764,30838,46021,60846,99846,184743,254224,380070,587948,952111,1536847,1852476,2452911,2664985,2255915,1413993,942215,1604
1980-1980,63,58,90,84,97,160,268,314,453,562,893,665,811,780,641,498,350,0,1019
1980-1982,875,581,627,876,1221,1733,2691,3521,5299,8121,11237,13329,14315,16808,19026,15370,9999,5399,409
1980-1983,86,70,50,65,89,139,158,301,449,871,1456,1856,2163,2513,2851,2523,1658,985,420
1981-1982,251,177,170,243,475,816,797,1131,1811,3040,5032,6557,6596,7240,7453,5365,2852,1658,63
1982-1982,609,416,351,542,918,1568,2277,3218,4093,5605,7869,9916,11880,12544,12051,9924,5513,3615,399

##### Process CI5-VI

In [4]:
vi_registry_df = pd.read_csv("CI5/CI5-VI/registry.txt", sep="\t", index_col=0, names=["REGISTRY", "PERIOD_1", "PERIOD_2", "NAME"])
vi_cases_df = pd.read_csv("CI5/CI5-VI/cases.csv", index_col=0)
vi_df = vi_registry_df.join(vi_cases_df, how="inner", lsuffix="_registry")
vi_df["PERIOD"] = vi_df["PERIOD_1"].astype(str) + '-' + vi_df["PERIOD_2"].astype(str)
vi_df = vi_df[["PERIOD", "N0_4","N5_9","N10_14","N15_19","N20_24","N25_29","N30_34","N35_39","N40_44","N45_49","N50_54","N55_59","N60_64","N65_69","N70_74","N75_79","N80_84","N85","N_unk"]]
vi_df = vi_df.groupby(["PERIOD"]).sum()
vi_df.rename(columns={"N85": "N85+", "N_unk": "N_UNK"}, inplace=True)
vi_df

,N0_4,N5_9,N10_14,N15_19,N20_24,N25_29,N30_34,N35_39,N40_44,N45_49,N50_54,N55_59,N60_64,N65_69,N70_74,N75_79,N80_84,N85+,N_UNK
PERIOD,,,,,,,,,,,,,,,,,,,
1981-1985,144,103,97,101,100,270,752,1318,1936,2339,3380,4167,4127,4655,4689,3619,2279,1247,175
1982-1986,3015,2079,2036,2773,3781,5695,10208,15114,17332,24596,35190,49962,66069,72029,90572,77183,46577,27078,2048
1982-1987,372,280,189,333,476,869,1399,2187,3259,5511,9215,11987,12145,9994,13443,12334,7134,3399,20
1983-1984,39,9,18,38,51,78,156,228,341,580,1064,1305,1539,1044,1814,1485,1045,602,5
1983-1985,147,96,65,137,202,229,308,607,940,1504,2406,3185,4230,4085,4553,4794,1863,1128,152
1983-1986,1130,660,770,1118,1852,2802,4852,7770,11256,16883,25485,39098,54239,58142,67039,57396,36245,22653,980
1983-1987,66198,39396,40660,69574,113339,185680,285256,430059,590906,843293,1224819,1812625,2414018,2576686,2863405,2504102,1647214,1113219,7960
1984-1985,6,17,23,18,28,29,47,158,208,402,628,843,1594,1189,2156,2092,1309,961,0
1984-1986,68,24,38,59,63,76,268,502,679,1014,1790,2581,3126,3211,3941,3396,2443,1294,0
1984-1987,1269,750,743,974,1332,2129,3189,4472,5211,7778,11954,16496,19186,16910,16895,14878,9426,5454,878
1985-1987,454,356,410,559,797,1148,1774,2969,4548,7812,11254,16221,19231,17101,20588,27939,6546,3653,212
1986-1986,379,273,305,513,511,673,875,1687,2525,3289,3932,5079,6508,7851,8541,8386,6117,3935,1220
1986-1987,381,288,354,478,541,1127,1377,2321,3341,5884,8738,12422,14466,12833,13350,12056,7292,4413,167
1986-1988,24,27,45,99,132,219,365,521,846,1089,1687,2543,3410,3819,4037,3150,1965,1133,0
1986-1989,145,194,101,194,141,188,205,281,318,436,448,434,577,480,371,221,114,68,87
1987-1987,99,96,70,106,89,199,285,405,615,813,1103,1263,1322,1425,1078,841,541,319,319
1987-1989,89,95,81,90,154,272,449,482,571,600,524,412,524,337,232,119,53,30,410
1988-1989,293,265,262,321,402,671,1126,1520,2041,2513,3060,3557,3635,3097,2756,1911,1184,681,573

##### Process CI5-VIId

In [5]:
viid_registry_df = pd.read_csv("CI5/CI5-VIId/registry.txt", index_col=0, names=["REGISTRY", "NAME"])
# remove the first row as it is a broken header
viid_registry_df = viid_registry_df[1:]

viid_name_split_df = viid_registry_df["NAME"].str.extract(r"(.+)\s+\((\d+)-(\d+)\)", expand=True)
viid_name_split_df
viid_registry_df[["PERIOD_1", "PERIOD_2"]] = viid_name_split_df[[1,2]].rename(columns= {1: "PERIOD_1", 2: "PERIOD_2"})
viid_registry_df.index =  viid_registry_df.index.astype(int)

viid_cases_df = pd.read_csv("CI5/CI5-VIId/CI5VII.csv", names=["REGISTRY", "SEX", "CANCER_NUMBER", "AGE", "CASES_COUNT", "PERSON_YEARS"])
viid_cases_df["AGE"].replace({1: "N0_4", 2: "N5_9", 3: "N10_14", 4: "N15_19", 5: "N20_24", 6: "N25_29", 7: "N30_34", 8: "N35_39", 9: "N40_44", 10: "N45_49", 11: "N50_54", 12: "N55_59", 13: "N60_64", 14: "N65_69", 15: "N70_74", 16: "N75_79", 17: "N80_84", 18: "N85+", 19: "N_UNK"}, inplace=True)
viid_cases_df = viid_cases_df.groupby(["REGISTRY", "AGE"])["CASES_COUNT"].sum().to_frame().reset_index().pivot(index="REGISTRY", columns="AGE", values="CASES_COUNT")


viid_df = viid_registry_df.join(viid_cases_df, how="inner", lsuffix="_registry")
viid_df["PERIOD"] = viid_df["PERIOD_1"].astype(str) + '-' + viid_df["PERIOD_2"].astype(str)
viid_df = viid_df[["PERIOD", "N0_4","N5_9","N10_14","N15_19","N20_24","N25_29","N30_34","N35_39","N40_44","N45_49","N50_54","N55_59","N60_64","N65_69","N70_74","N75_79","N80_84","N85+","N_UNK"]].groupby(["PERIOD"]).sum()
viid_df

,N0_4,N5_9,N10_14,N15_19,N20_24,N25_29,N30_34,N35_39,N40_44,N45_49,N50_54,N55_59,N60_64,N65_69,N70_74,N75_79,N80_84,N85+,N_UNK
PERIOD,,,,,,,,,,,,,,,,,,,
1983-1992,127,16,17,60,151,125,295,362,361,606,694,758,793,643,579,338,200,100,0
1986-1990,447,299,392,494,592,980,1590,3188,5433,7084,10152,15411,19054,20270,19097,17901,12378,8434,400
1986-1992,24,6,27,55,40,98,98,151,235,289,582,702,639,764,533,397,115,39,0
1987-1991,730,513,469,633,968,1397,2270,2816,3951,4700,6350,9087,11392,12400,11380,10726,7256,4790,2384
1987-1992,2408,1292,1254,1827,2874,4213,6356,10797,18241,22910,30239,42312,62144,74296,77727,79387,57823,36058,0
1988-1989,1892,1232,1018,1874,3788,7193,9600,11424,12735,29515,43183,52356,59948,69439,50820,73683,46583,20280,0
1988-1990,9755,5316,4862,8777,15118,23959,33124,48376,80768,102879,152072,225992,345063,479663,463351,478661,354057,265039,1562
1988-1991,3015,2463,2397,3383,4693,7147,10743,17248,26871,38675,59602,89869,110443,123501,96733,106974,72955,44910,5528
1988-1992,135239,83916,80361,128209,199744,344032,532654,765721,1088390,1389759,1860762,2651322,3754981,4615825,4396970,4022913,2761705,1919863,11723
1988-1993,1148,900,702,690,916,1686,2014,2684,2764,3452,3138,2758,2786,2242,1800,1184,806,860,76
1989-1991,261,377,176,216,306,420,797,1105,1390,1765,2000,2086,2157,2247,1818,1592,952,621,1181
1989-1992,3947,2697,2659,4679,7555,11624,17585,26453,42993,56121,75258,108315,148916,189532,180193,172180,122154,79200,36
1990-1991,742,625,719,777,1092,1450,1999,2736,3289,3872,4716,5675,6670,6380,6088,5024,3462,2506,919
1990-1992,847,766,722,1006,1869,3138,4545,5690,6444,8709,11894,15462,20701,20637,20299,15813,11361,8561,3247
1990-1993,826,683,683,928,1139,1558,2395,3460,4845,6085,7668,9045,9669,7993,6132,3934,2253,1378,306
1990-1994,0,36,18,37,62,92,195,255,402,390,654,792,969,920,831,760,501,329,0
1991-1992,101,91,88,228,196,341,432,705,1188,1568,2736,3858,6019,7539,6384,6255,4486,2645,80
1991-1993,960,629,594,809,1382,1938,2398,2628,2973,3155,3632,3403,4511,3462,2686,1068,443,189,841
1992-1993,49,24,22,22,50,76,147,249,456,566,656,808,1268,1392,1474,1013,939,479,163

##### Process CI5-VIIId

In [6]:
viiid_registry_df = pd.read_table("CI5/CI5-VIIId/registry.txt", index_col=0)
viiid_registry_df = viiid_registry_df.index.str.extract(r"\s*(\d+)\s+(.*)\((\d+)(-(\d+))?\)", expand=True).drop(columns=3)
viiid_registry_df = viiid_registry_df.rename(columns= {0: "REGISTRY", 1: "NAME", 2: "PERIOD_1", 4: "PERIOD_2"}).set_index("REGISTRY")
viiid_registry_df.index = viiid_registry_df.index.astype(int)

viiid_cases_df = pd.read_csv("CI5/CI5-VIIId/CI5-VIII.csv", names=["REGISTRY", "SEX", "CANCER_NUMBER", "AGE", "CASES_COUNT", "PERSON_YEARS"])
viiid_cases_df["AGE"].replace({1: "N0_4", 2: "N5_9", 3: "N10_14", 4: "N15_19", 5: "N20_24", 6: "N25_29", 7: "N30_34", 8: "N35_39", 9: "N40_44", 10: "N45_49", 11: "N50_54", 12: "N55_59", 13: "N60_64", 14: "N65_69", 15: "N70_74", 16: "N75_79", 17: "N80_84", 18: "N85+", 19: "N_UNK"}, inplace=True)
viiid_cases_df = viiid_cases_df.groupby(["REGISTRY", "AGE"])["CASES_COUNT"].sum().to_frame().reset_index().pivot(index="REGISTRY", columns="AGE", values="CASES_COUNT")


viiid_df = viiid_registry_df.join(viid_cases_df, how="inner", lsuffix="_registry")
viiid_df = viiid_df[["PERIOD_1", "PERIOD_2", "N0_4","N5_9","N10_14","N15_19","N20_24","N25_29","N30_34","N35_39","N40_44","N45_49","N50_54","N55_59","N60_64","N65_69","N70_74","N75_79","N80_84","N85+","N_UNK"]]

# Fix broken record for Taiwan
viiid_df.loc[81, 'PERIOD_1'] = 1993
viiid_df.loc[81, 'PERIOD_2'] = 1997

viiid_df["PERIOD"] = viiid_df["PERIOD_1"].astype(str) + '-' + viiid_df["PERIOD_2"].astype(str)
viiid_df = viiid_df.groupby(["PERIOD"]).sum()

viiid_df

,N0_4,N5_9,N10_14,N15_19,N20_24,N25_29,N30_34,N35_39,N40_44,N45_49,N50_54,N55_59,N60_64,N65_69,N70_74,N75_79,N80_84,N85+,N_UNK
PERIOD,,,,,,,,,,,,,,,,,,,
1983-1997,127,16,17,60,151,125,295,362,361,606,694,758,793,643,579,338,200,100,0
1991-1995,2041,1507,1323,1808,2912,4598,6919,8854,12016,14866,19160,23940,34307,41337,40204,37934,27314,20810,1235
1992-1993,114,103,69,108,109,169,318,377,456,569,676,619,832,839,766,777,586,515,148
1992-1995,834,466,482,866,1456,2390,3098,4561,7543,11236,17309,26416,38061,49603,47601,44683,31725,21949,0
1992-1996,124,148,209,220,390,794,1286,1720,2166,2951,3765,5133,6172,6060,5429,4234,2883,1845,2700
1993-1994,260,99,117,182,200,408,587,751,1042,1567,1915,2256,2273,2490,1843,1581,923,546,0
1993-1995,519,487,489,763,1144,1546,3125,5460,8027,11291,19500,28851,36453,36181,27028,25646,16927,10116,15
1993-1996,7301,5360,4493,7958,12858,19452,28071,36544,46988,70032,94880,122815,162418,201101,174729,196508,133855,81112,276
1993-1997,133555,80287,77885,124159,196708,340851,522488,756035,1093152,1400429,1867848,2684472,3826324,4798216,4622549,4284424,2969349,2083218,15368
1994-1996,619,351,294,378,1042,1550,1767,1679,2256,2835,3577,4523,6321,7236,7029,7632,5756,4124,278
1994-1997,8189,6623,6061,9210,12959,20999,33079,49522,72761,94715,156763,218893,293276,305232,241969,232106,153903,92772,3882
1995-1996,599,454,332,453,682,971,1755,1871,2294,2778,3520,4546,5529,5373,4735,4234,2565,1863,2280
1995-1997,4146,2639,2317,3525,5557,9092,13642,19997,32418,43568,53609,75299,104437,131330,126738,118536,86753,59293,1145
1995-1998,369,194,285,375,490,921,1135,1747,2536,2899,3372,4460,5302,5669,5326,4398,3147,2630,156
1996-1997,313,293,263,427,523,611,1263,1981,2908,3656,5849,9149,12330,13823,12086,10581,7321,4976,701
1997-1998,620,456,566,834,1398,2282,3813,5179,6675,8632,13549,17819,23243,25288,20514,20907,14088,8494,0

##### Preprocess CI5-IXd

In [7]:
ixd_registry_df = pd.read_table("CI5/CI5-IXd/registry.txt", names=["REGISTRY", "NAME"], index_col=0)
ixd_registry_df = ixd_registry_df["NAME"].str.extract(r"\s*(.*)\s*\((\d+)-(\d+)\)", expand=True)
ixd_registry_df = ixd_registry_df.rename(columns= {0: "NAME", 1: "PERIOD_1", 2: "PERIOD_2"})

registry_dfs = []
for registry in ixd_registry_df.index:
    df = pd.read_csv(f"CI5/CI5-IXd/{registry}.csv", names=["SEX", "CANCER_NUMBER", "AGE", "CASES_COUNT", "PERSON_YEARS"])
    df['REGISTRY'] = registry
    registry_dfs.append(df)

ixd_cases_df = pd.concat(registry_dfs)
ixd_cases_df["AGE"].replace({1: "N0_4", 2: "N5_9", 3: "N10_14", 4: "N15_19", 5: "N20_24", 6: "N25_29", 7: "N30_34", 8: "N35_39", 9: "N40_44", 10: "N45_49", 11: "N50_54", 12: "N55_59", 13: "N60_64", 14: "N65_69", 15: "N70_74", 16: "N75_79", 17: "N80_84", 18: "N85+", 19: "N_UNK"}, inplace=True)
ixd_cases_df = ixd_cases_df.groupby(["REGISTRY", "AGE"])["CASES_COUNT"].sum().to_frame().reset_index().pivot(index="REGISTRY", columns="AGE", values="CASES_COUNT")


ixd_df = ixd_registry_df.join(ixd_cases_df, how="inner", lsuffix="_registry")
ixd_df["PERIOD"] = ixd_df["PERIOD_1"].astype(str) + '-' + ixd_df["PERIOD_2"].astype(str)
ixd_df = ixd_df[["PERIOD", "N0_4","N5_9","N10_14","N15_19","N20_24","N25_29","N30_34","N35_39","N40_44","N45_49","N50_54","N55_59","N60_64","N65_69","N70_74","N75_79","N80_84","N85+","N_UNK"]]
ixd_df = ixd_df.groupby(["PERIOD"]).sum()
ixd_df

,N0_4,N5_9,N10_14,N15_19,N20_24,N25_29,N30_34,N35_39,N40_44,N45_49,N50_54,N55_59,N60_64,N65_69,N70_74,N75_79,N80_84,N85+,N_UNK
PERIOD,,,,,,,,,,,,,,,,,,,
1996-2000,704,381,424,781,1313,1990,2940,5490,8848,15741,21688,25418,34103,48714,51796,44406,29350,23096,790
1997-2001,613,482,501,903,1477,2268,3307,5062,7496,10732,14197,17190,24864,32152,31461,26530,17223,13431,66
1998-2000,315,214,209,326,604,1031,1901,2790,4273,6423,10516,15219,21136,28105,32199,30975,18494,19844,0
1998-2001,3948,2850,3120,4394,6821,10911,16854,26314,38890,58056,83492,104341,139500,180511,196535,174816,99234,94051,5663
1998-2002,540566,329644,352348,537275,779860,1257547,2011714,3197234,5082025,7417461,10664399,13211983,15842867,19261946,21653099,19995774,13584313,10936828,100998
1999-2001,927,601,708,1054,1884,2758,4147,6544,10399,15045,22317,29081,40019,50428,54912,50625,29666,26377,0
1999-2002,13888,9205,9181,14162,19930,35855,63583,104313,164389,205442,248007,303828,380160,387919,336248,248537,123583,68906,176
2000-2002,1005,790,835,1082,1100,2286,3735,6616,9427,12554,13011,12973,16307,19923,18144,12759,10023,3911,174

##### Preprocess CI5-Xd

In [8]:
with codecs.open("CI5/CI5-Xd/registry.txt", 'r', 'utf8', errors="ignore") as ff:
    content = ff.read()

xd_registry_df = pd.read_table(io.StringIO(content), names=["REGISTRY", "NAME"], index_col=0)
xd_registry_df
xd_registry_df = xd_registry_df["NAME"].str.extract(r"\s*(.*)\s*\((\d+)-(?:\d+,\d+-)?(\d+)\)", expand=True)
xd_registry_df
xd_registry_df = xd_registry_df.rename(columns= {0: "NAME", 1: "PERIOD_1", 2: "PERIOD_2"})

registry_dfs = []
for registry in xd_registry_df.index:
    df = pd.read_csv(f"CI5/CI5-Xd/{registry}.csv", names=["SEX", "CANCER_NUMBER", "AGE", "CASES_COUNT", "PERSON_YEARS"])
    df['REGISTRY'] = registry
    registry_dfs.append(df)

xd_cases_df = pd.concat(registry_dfs)
xd_cases_df

xd_cases_df["AGE"].replace({1: "N0_4", 2: "N5_9", 3: "N10_14", 4: "N15_19", 5: "N20_24", 6: "N25_29", 7: "N30_34", 8: "N35_39", 9: "N40_44", 10: "N45_49", 11: "N50_54", 12: "N55_59", 13: "N60_64", 14: "N65_69", 15: "N70_74", 16: "N75_79", 17: "N80_84", 18: "N85+", 19: "N_UNK"}, inplace=True)
xd_cases_df = xd_cases_df.groupby(["REGISTRY", "AGE"])["CASES_COUNT"].sum().to_frame().reset_index().pivot(index="REGISTRY", columns="AGE", values="CASES_COUNT")


xd_df = xd_registry_df.join(xd_cases_df, how="inner", lsuffix="_registry")
xd_df["PERIOD"] = xd_df["PERIOD_1"].astype(str) + '-' + xd_df["PERIOD_2"].astype(str)
xd_df = xd_df[["PERIOD", "N0_4","N5_9","N10_14","N15_19","N20_24","N25_29","N30_34","N35_39","N40_44","N45_49","N50_54","N55_59","N60_64","N65_69","N70_74","N75_79","N80_84","N85+","N_UNK"]]
xd_df = xd_df.groupby(["PERIOD"]).sum()
xd_df

,N0_4,N5_9,N10_14,N15_19,N20_24,N25_29,N30_34,N35_39,N40_44,N45_49,N50_54,N55_59,N60_64,N65_69,N70_74,N75_79,N80_84,N85+,N_UNK
PERIOD,,,,,,,,,,,,,,,,,,,
2003-2005,1970,1506,1781,2466,3390,5447,8052,12140,18517,25892,34251,44384,54345,68107,74571,69244,49750,33159,981
2003-2006,3363,2250,2545,4069,6424,11046,18414,28424,40588,54985,77677,111047,142126,177333,192992,182313,134444,92945,1437
2003-2007,731039,414046,473072,751831,1155257,1748001,2683177,4147578,6988975,11025145,15761804,20891723,23785762,26589193,26937418,26044099,19853865,15380596,112243
2004-2007,5356,3462,4096,6383,9179,13859,22064,36656,59308,91419,129694,172370,194907,233134,256699,239249,168778,98386,60
2005-2007,2461,2168,2232,3339,5144,7793,11450,17771,25631,36482,50533,68534,84048,95179,103129,98896,76775,62280,88

In [9]:
preprocessed_df = pd.concat([v_df, vi_df, viid_df, viiid_df, ixd_df, xd_df])
print(preprocessed_df.to_string())

             N0_4    N5_9  N10_14  N15_19   N20_24   N25_29   N30_34   N35_39   N40_44    N45_49    N50_54    N55_59    N60_64    N65_69    N70_74    N75_79    N80_84      N85+   N_UNK
PERIOD
1973-1982     104      60      83     109      191      225      317      458      613       964      1339      1640      2028      2468      2722      2366      2226      1513       0
1977-1981   25561   17852   14268   21619    26581    45167    71753    73766   102870    155290    220232    311157    356729    530518    533940    402069    235849    134159   12506
1978-1978     655     357     278     460      713      953     1440     1973     3098      4711      5979      6000      6414      5975      4963      3446      1795       902    4200
1978-1979      66      72      64      72      144      331      516     1010     1501      1821      2608      3937      3884      7089      8291      7130      4935      2986       0
1978-1980      93      53      29      57       89      198      454      666     1025      1405      1785      1932      2110      2443      2057      1693       961       379      52
1978-1981    4451    2114    2322    3327     5137     8708    14056    19693    31630     50797     70453     87506     90347    112726    111360     83853     46491     23774      54
1978-1982   83672   49581   53179   89948   139238   226030   332676   436280   636450    966805   1494518   2129954   2447409   2922942   2925753   2409505   1568954   1099756   15284
1979-1982   40655   27764   30838   46021    60846    99846   184743   254224   380070    587948    952111   1536847   1852476   2452911   2664985   2255915   1413993    942215    1604
1980-1980      63      58      90      84       97      160      268      314      453       562       893       665       811       780       641       498       350         0    1019
1980-1982     875     581     627     876     1221     1733     2691     3521     5299      8121     11237     13329     14315     16808     19026     15370      9999      5399     409
1980-1983      86      70      50      65       89      139      158      301      449       871      1456      1856      2163      2513      2851      2523      1658       985     420
1981-1982     251     177     170     243      475      816      797     1131     1811      3040      5032      6557      6596      7240      7453      5365      2852      1658      63
1982-1982     609     416     351     542      918     1568     2277     3218     4093      5605      7869      9916     11880     12544     12051      9924      5513      3615     399
1981-1985     144     103      97     101      100      270      752     1318     1936      2339      3380      4167      4127      4655      4689      3619      2279      1247     175
1982-1986    3015    2079    2036    2773     3781     5695    10208    15114    17332     24596     35190     49962     66069     72029     90572     77183     46577     27078    2048
1982-1987     372     280     189     333      476      869     1399     2187     3259      5511      9215     11987     12145      9994     13443     12334      7134      3399      20
1983-1984      39       9      18      38       51       78      156      228      341       580      1064      1305      1539      1044      1814      1485      1045       602       5
1983-1985     147      96      65     137      202      229      308      607      940      1504      2406      3185      4230      4085      4553      4794      1863      1128     152
1983-1986    1130     660     770    1118     1852     2802     4852     7770    11256     16883     25485     39098     54239     58142     67039     57396     36245     22653     980
1983-1987   66198   39396   40660   69574   113339   185680   285256   430059   590906    843293   1224819   1812625   2414018   2576686   2863405   2504102   1647214   1113219    7960
1984-1985       6      17      23      18       28       29       47      158      208       402       628       843      1594      1189      2156      2092      1309       961       0
1984-1986      68      24      38      59       63       76      268      502      679      1014      1790      2581      3126      3211      3941      3396      2443      1294       0
1984-1987    1269     750     743     974     1332     2129     3189     4472     5211      7778     11954     16496     19186     16910     16895     14878      9426      5454     878
1985-1987     454     356     410     559      797     1148     1774     2969     4548      7812     11254     16221     19231     17101     20588     27939      6546      3653     212
1986-1986     379     273     305     513      511      673      875     1687     2525      3289      3932      5079      6508      7851      8541      8386      6117      3935    1220
1986-1987     381     288     354     478      541     1127     1377     2321     3341      5884      8738     12422     14466     12833     13350     12056      7292      4413     167
1986-1988      24      27      45      99      132      219      365      521      846      1089      1687      2543      3410      3819      4037      3150      1965      1133       0
1986-1989     145     194     101     194      141      188      205      281      318       436       448       434       577       480       371       221       114        68      87
1987-1987      99      96      70     106       89      199      285      405      615       813      1103      1263      1322      1425      1078       841       541       319     319
1987-1989      89      95      81      90      154      272      449      482      571       600       524       412       524       337       232       119        53        30     410
1988-1989     293     265     262     321      402      671     1126     1520     2041      2513      3060      3557      3635      3097      2756      1911      1184       681     573
1983-1992     127      16      17      60      151      125      295      362      361       606       694       758       793       643       579       338       200       100       0
1986-1990     447     299     392     494      592      980     1590     3188     5433      7084     10152     15411     19054     20270     19097     17901     12378      8434     400
1986-1992      24       6      27      55       40       98       98      151      235       289       582       702       639       764       533       397       115        39       0
1987-1991     730     513     469     633      968     1397     2270     2816     3951      4700      6350      9087     11392     12400     11380     10726      7256      4790    2384
1987-1992    2408    1292    1254    1827     2874     4213     6356    10797    18241     22910     30239     42312     62144     74296     77727     79387     57823     36058       0
1988-1989    1892    1232    1018    1874     3788     7193     9600    11424    12735     29515     43183     52356     59948     69439     50820     73683     46583     20280       0
1988-1990    9755    5316    4862    8777    15118    23959    33124    48376    80768    102879    152072    225992    345063    479663    463351    478661    354057    265039    1562
1988-1991    3015    2463    2397    3383     4693     7147    10743    17248    26871     38675     59602     89869    110443    123501     96733    106974     72955     44910    5528
1988-1992  135239   83916   80361  128209   199744   344032   532654   765721  1088390   1389759   1860762   2651322   3754981   4615825   4396970   4022913   2761705   1919863   11723
1988-1993    1148     900     702     690      916     1686     2014     2684     2764      3452      3138      2758      2786      2242      1800      1184       806       860      76
1989-1991     261     377     176     216      306      420      797     1105     1390      1765      2000      2086      2157      2247      1818      1592       952       621    1181
1989-1992    3947    2697    2659    4679     7555    11624    17585    26453    42993     56121     75258    108315    148916    189532    180193    172180    122154     79200      36
1990-1991     742     625     719     777     1092     1450     1999     2736     3289      3872      4716      5675      6670      6380      6088      5024      3462      2506     919
1990-1992     847     766     722    1006     1869     3138     4545     5690     6444      8709     11894     15462     20701     20637     20299     15813     11361      8561    3247
1990-1993     826     683     683     928     1139     1558     2395     3460     4845      6085      7668      9045      9669      7993      6132      3934      2253      1378     306
1990-1994       0      36      18      37       62       92      195      255      402       390       654       792       969       920       831       760       501       329       0
1991-1992     101      91      88     228      196      341      432      705     1188      1568      2736      3858      6019      7539      6384      6255      4486      2645      80
1991-1993     960     629     594     809     1382     1938     2398     2628     2973      3155      3632      3403      4511      3462      2686      1068       443       189     841
1992-1993      49      24      22      22       50       76      147      249      456       566       656       808      1268      1392      1474      1013       939       479     163
1983-1997     127      16      17      60      151      125      295      362      361       606       694       758       793       643       579       338       200       100       0
1991-1995    2041    1507    1323    1808     2912     4598     6919     8854    12016     14866     19160     23940     34307     41337     40204     37934     27314     20810    1235
1992-1993     114     103      69     108      109      169      318      377      456       569       676       619       832       839       766       777       586       515     148
1992-1995     834     466     482     866     1456     2390     3098     4561     7543     11236     17309     26416     38061     49603     47601     44683     31725     21949       0
1992-1996     124     148     209     220      390      794     1286     1720     2166      2951      3765      5133      6172      6060      5429      4234      2883      1845    2700
1993-1994     260      99     117     182      200      408      587      751     1042      1567      1915      2256      2273      2490      1843      1581       923       546       0
1993-1995     519     487     489     763     1144     1546     3125     5460     8027     11291     19500     28851     36453     36181     27028     25646     16927     10116      15
1993-1996    7301    5360    4493    7958    12858    19452    28071    36544    46988     70032     94880    122815    162418    201101    174729    196508    133855     81112     276
1993-1997  133555   80287   77885  124159   196708   340851   522488   756035  1093152   1400429   1867848   2684472   3826324   4798216   4622549   4284424   2969349   2083218   15368
1994-1996     619     351     294     378     1042     1550     1767     1679     2256      2835      3577      4523      6321      7236      7029      7632      5756      4124     278
1994-1997    8189    6623    6061    9210    12959    20999    33079    49522    72761     94715    156763    218893    293276    305232    241969    232106    153903     92772    3882
1995-1996     599     454     332     453      682      971     1755     1871     2294      2778      3520      4546      5529      5373      4735      4234      2565      1863    2280
1995-1997    4146    2639    2317    3525     5557     9092    13642    19997    32418     43568     53609     75299    104437    131330    126738    118536     86753     59293    1145
1995-1998     369     194     285     375      490      921     1135     1747     2536      2899      3372      4460      5302      5669      5326      4398      3147      2630     156
1996-1997     313     293     263     427      523      611     1263     1981     2908      3656      5849      9149     12330     13823     12086     10581      7321      4976     701
1997-1998     620     456     566     834     1398     2282     3813     5179     6675      8632     13549     17819     23243     25288     20514     20907     14088      8494       0
1996-2000     704     381     424     781     1313     1990     2940     5490     8848     15741     21688     25418     34103     48714     51796     44406     29350     23096     790
1997-2001     613     482     501     903     1477     2268     3307     5062     7496     10732     14197     17190     24864     32152     31461     26530     17223     13431      66
1998-2000     315     214     209     326      604     1031     1901     2790     4273      6423     10516     15219     21136     28105     32199     30975     18494     19844       0
1998-2001    3948    2850    3120    4394     6821    10911    16854    26314    38890     58056     83492    104341    139500    180511    196535    174816     99234     94051    5663
1998-2002  540566  329644  352348  537275   779860  1257547  2011714  3197234  5082025   7417461  10664399  13211983  15842867  19261946  21653099  19995774  13584313  10936828  100998
1999-2001     927     601     708    1054     1884     2758     4147     6544    10399     15045     22317     29081     40019     50428     54912     50625     29666     26377       0
1999-2002   13888    9205    9181   14162    19930    35855    63583   104313   164389    205442    248007    303828    380160    387919    336248    248537    123583     68906     176
2000-2002    1005     790     835    1082     1100     2286     3735     6616     9427     12554     13011     12973     16307     19923     18144     12759     10023      3911     174
2003-2005    1970    1506    1781    2466     3390     5447     8052    12140    18517     25892     34251     44384     54345     68107     74571     69244     49750     33159     981
2003-2006    3363    2250    2545    4069     6424    11046    18414    28424    40588     54985     77677    111047    142126    177333    192992    182313    134444     92945    1437
2003-2007  731039  414046  473072  751831  1155257  1748001  2683177  4147578  6988975  11025145  15761804  20891723  23785762  26589193  26937418  26044099  19853865  15380596  112243
2004-2007    5356    3462    4096    6383     9179    13859    22064    36656    59308     91419    129694    172370    194907    233134    256699    239249    168778     98386      60
2005-2007    2461    2168    2232    3339     5144     7793    11450    17771    25631     36482     50533     68534     84048     95179    103129     98896     76775     62280      88

## Limitations

In this study, I will try to find whether there is a tendency for an increase in the incidence in the selected age group, but the reasons for such an increase are beyond the scope of this study.

## References

<a id='ref_1'>[1]</a> "What Is Cancer?" by National Cancer Institute (2021, May 5) [Online]. Available: https://www.cancer.gov/about-cancer/understanding/what-is-cancer

<a id='ref_2'>[2]</a> "Age and Cancer Risk" Am J Prev Med. 2014 Mar; 46(3 0 1): S7–15. [Online]. Available: https://doi.org/10.1016/j.amepre.2013.10.029

<a id='ref_3'>[3]</a> "Childhood Cancers" by National Cancer Institute (2021, April 12) [Online]. Available: https://www.cancer.gov/types/childhood-cancers

<a id='ref_4'>[4]</a> "The Challenging Landscape of Cancer and Aging: Charting a Way Forward" by Norman E. Sharpless, M.D. (2018, January 24) [Online]. Available: https://www.cancer.gov/news-events/cancer-currents-blog/2018/sharpless-aging-cancer-research

<a id='ref_5'>[5]</a> di Martino, E., Smith, L., Bradley, S.H. et al. Incidence trends for twelve cancers in younger adults—a rapid review. Br J Cancer 126, 1374–1386 (2022). [Online]. Available: https://doi.org/10.1038/s41416-022-01704-x

<a id='ref_6'>[6]</a> Scott AR, Stoltzfus KC, Tchelebi LT, et al. Trends in Cancer Incidence in US Adolescents and Young Adults, 1973-2015. JAMA Netw Open. 2020;3(12):e2027738. [Online]. Available: https://doi.org/10.1001/jamanetworkopen.2020.27738