# Cancer incidence trends in young adults

## Introduction

The idea of this project comes from a conversation I recently have with a friend of mine who worked in a cancer retreat center. The friend is a medical professional who worked at the center for many years. He noticed that over the past 10 years, there have been more relatively young patients in the center than it was before. The friend was inclined to attribute this observation to the deteriorating quality of air, food, and other environmental factors. I skeptically suggested that there are other possible explanations of this phenomenon. 10 years ago, the friend himself was younger and could perceive typical patients as older.

Cancer is a class of diseases in which some of the body’s cells grow uncontrollably and spread to other organs and tissues. Most cancers form a tumor. According to modern concepts, cancer is caused by changes to genes that control the way our cells function, especially how they grow and divide. Despite intensive research and development of new treatments, cancer remains the leading causes of death worldwide. In 2018, there were 18.1 million new cases and 9.5 million cancer-related deaths worldwide. By 2040, the number of new cancer cases per year is expected to rise to 29.5 million and the number of cancer-related deaths to 16.4 million [[1]](#ref_1).

Cancer can be considered an age-related disease because the incidence of most cancers increases with age, rising more rapidly beginning in midlife. Despite the fact that the disease can occur at any age, more than half of all cancers occurred in adults aged ≥65 years [[2]](#ref_2). Therefore, for a long time, cancer was considered a disease predominantly affecting the elderly. Given this age specificity, a possible increase in the number of diseases among younger age groups may be of great interest.


<figure>
  <img src="media/cancer_and_age.jpg" alt="Invasive cancer incidence, by age, U.S., 2009">
  <figcaption>
      <center>
          <strong>
              Figure 1. Invasive cancer incidence, by age, U.S., 2009 <a href="#ref_2">[2]</a>
          </strong>
      </center>
  </figcaption>
</figure>
    
    
As a software developer I am interested in Digital health. The idea of using information technologies to enhance the efficiency of healthcare seems very promising. Collection and analysis of health data using the data-science approach could potentially improve our understanding of diseases such as cancer. Therefore, I decided to investigate my friend's observation. Using available data and data-science approach it seems possible to determine if young adults have become more often diagnosed with cancer in recent decades.

## Aims and Objectives

Within this research project my aim is to find out if young adults are more likely to be diagnosed with cancer in the recent decades. The goal is to get a big picture across all regions of the world and all ethnic groups. I want to take into account population changes and other possible factors that can skew the statistics.

For the purpose of this project, a young adult is considered to be between the ages of 15 and 44 (inclusive). This range was chosen because people younger than 15 have other types of cancer with different epidemiological dynamics that are outside the scope of this study [[3]](#ref_3). The age group over 45 also has its own epidemiological dynamics. It has long seen an increase in morbidity, but it is attributed mainly to an increase in overall life expectancy and a decrease in mortality from other causes [[4]](#ref_4). This is also outside the scope of this study.

In this study, I will try to find whether there is a tendency for an increase in the incidence in the selected age group, but the reasons for such an increase are beyond the scope of this study.

## Literature Review

I found several articles on the Internet in which the issue is studied. Below I provide a summary and key findings that are relevant in the context of this study.

**Incidence trends for twelve cancers in younger adults—a rapid review. Br J Cancer 126, 1374–1386 (2022). [[5]](#ref_5)**

This paper analyzed the epidemiological information of some types of cancer in young adult patients, and came to the following conclusion: "Overall, this review provides evidence that some cancers are increasingly being diagnosed in younger age groups, although the mechanisms remain unclear." [[5]](#ref_5) This is a meta-analysis of existing studies on different types of cancer, but my goal is to explore the big picture across all types of cancer. The sources used in the article were mainly originated from the United States, while my goal is to get numbers for all countries.

**Trends in Cancer Incidence in US Adolescents and Young Adults, 1973-2015 [[6]](#ref_6)**.

Some findings from this paper: "In this serial cross-sectional, US population-based study using cancer registry data from 497 452 AYAs, the rate of cancer increased by 29.6% from 1973 to 2015, with kidney carcinoma increasing at the greatest rate. Breast carcinoma and testicular cancer were the most common cancer diagnoses for female and male AYAs, respectively." [[6]](#ref_6)

The autors coclude: "In this cross-sectional, US population-based study, cancer in AYAs was shown to have a unique epidemiological pattern and is a growing health concern, with many cancer subtypes having increased in incidence from 1973 to 2015. Continued research on AYA cancers is important to understanding and addressing the distinct health concerns of this population." [[6]](#ref_6) AYA is stands for Adolescents and Young Adults.

The findings from this paper also support the idea that the increase in the number of diseases among young people in the United states has natural causes. However, the article is focused on the United States, while my goal is to get the overal picture for all regions of the world.

**Cancer Stat Facts: Cancer Among Adolescents and Young Adults (AYAs) (Ages 15–39) [[7]](#ref_7).**

The results of this work once again confirm the increase in the number of diseases amoung young adults in the United Satates: "Using statistical models for analysis, rates of new cancer cases of any site among AYAs have been rising on average 0.3% each year over 2010–2019, the last 10 years of available data." [[7]](#ref_7).

This study is based on a database provided by National Cancer Institute of US. This is a high fidelity database, but it covers only ths U.S. This work uses great data visualization methods that I want to use for inspiration.

As a result of a review of the literature available on the Internet on this topic, I found that there is ample evidence of an increase in the number of diseases among young adults in the United States. However, I did not find works that would fully meet the aims and objectives of this project. In particular, there are no worldwide studies for all types of cancer.

## Dataset

### Requirements

To meet the goals of the project, the dataset must include worldwide cancer incidence statistics. Data must have at least two dimensions: the numbers should be broken down by year of diagnosis and a patient's age group. To pinpoint the trend, we need data for at least two decades. The data should be in machine-readable format.

### Datasets considered

There are several organizations that collect statistics on cancer. In particular, the previously mentioned [National Cancer Institute (NCI)](https://www.nih.gov/about-nih/what-we-do/nih-almanac/national-cancer-institute-nci) provides SEER database. [SEER](https://seer.cancer.gov/) (Surveillance, Epidemiology, and End Results) is an authoritative source for cancer statistics in the United States. As previously metioned, this is a open and high fidelity database, but it covers only ths U.S. so it is not suitable for our research. Another problem is that this dataset is not generaly available in machine-readable format.

Another considered dataset is [Cancer registration statistics for England](https://www.ons.gov.uk/peoplepopulationandcommunity/healthandsocialcare/conditionsanddiseases/datasets/cancerregistrationstatisticscancerregistrationstatisticsengland) provided by Office for National Statistics. The data includes cancer diagnoses and age-standardised incidence rates for all types of cancer by age and sex. It is available in a machine-readable format as Excel tables. Despite the fact that these are data for one geographic region, from these files I get an idea in what form such statistics can be provided at all.

### Choosen dataset

After research of different sources concerning the subject I found that there is an organization [International Agency for Research on Cancer (IARC)](https://www.iarc.fr/) that is a part of the World Health Organization of the United Nations. Its role is to conduct and coordinate research into the causes of cancer. It also collects and publishes surveillance data regarding the occurrence of cancer worldwide.

This data comes in datasets called [Cancer Incidence in Five Continents (CI5)](https://ci5.iarc.fr/Default.aspx). CI5 is the result of a long collaboration between the International Agency for Research on Cancer and the International Association of Cancer Registries. The series of monographs, published approximately every five years, has become the reference source of data on the international incidence of cancer. [[8]](#ref_8)

The whole dataset consists of separate publications (volumes) with data for different periods.
These volumes are identified by Roman numerals (V, VI, VII, etc).
The first 6 volumes (V, VI, VII, VIII, IX, and X) cover the period from 1973 till 2007.
The last volume (XI) covers the period from 2008 till 2012.
These publications are PDF files with very detailed reports on the incidence of cancer in different countries.
Files with detailed source data are also provided along with reports.
They are of primary interest to us.

The first 6 volumes are considered archived, they are downlable on [this page](https://ci5.iarc.fr/CI5I-X/Pages/download.aspx).
There are PDF reports and ZIP files with tabulated detailed (source) data.
The latest volume is downlable on [this page](https://ci5.iarc.fr/CI5-XI/Pages/download.aspx).

This dataset covers a large period of time from 1973 till 2012. The raw data is provided in machine-readable format (CSV, tabulated). There are detailed data on date of diagnosis, patient's age group, sex, geographic region, and cancer type. This is the most comprehensive source of information on cancer incidences in the world. Thus, this dataset is fully suitable for this study.

### Method

After a more detailed examine of the dataset files, some problems were identified.
The first problem is size of the dataset: more than 215 MB unziped.
This is much more than the stated limit.
The second problem is the extreme heterogeneity of the data.
Each of these seven volumes has a different data format.
Some files are in the form CSV, some are tab-separated.
Different field names and other differences.

To overcome these difficulties, I decided to divide the data analysis process into several stages:
* **Preprocessing** — Download raw files, cleansing, aggregate, and save only necessary information to an intermediate CSV file that serve as a source for the further stages. This file is relatively small and can be cached, so there is no need to run this stage more than once.
* **Processing** — At this stage I no longer touch the raw files. The only source of the information is the intermediate CSV file I generate at the preprocessing stage. It is more precise cleansing and preparation for analysis.
* **Analysis** —

## Import necessary libraries

In [3]:
!pip install pandas==1.4.2
!pip install matplotlib==3.5.2

import os
import requests
import zipfile
import re
import io
import codecs
from urllib.parse import urlparse
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

Requirement already satisfied: pandas==1.4.2 in /Users/dima/opt/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in /Users/dima/opt/anaconda3/lib/python3.9/site-packages (from pandas==1.4.2) (1.20.3)
Requirement already satisfied: pytz>=2020.1 in /Users/dima/opt/anaconda3/lib/python3.9/site-packages (from pandas==1.4.2) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/dima/opt/anaconda3/lib/python3.9/site-packages (from pandas==1.4.2) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/dima/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas==1.4.2) (1.16.0)
Requirement already satisfied: matplotlib==3.5.2 in /Users/dima/opt/anaconda3/lib/python3.9/site-packages (3.5.2)
Requirement already satisfied: numpy>=1.17 in /Users/dima/opt/anaconda3/lib/python3.9/site-packages (from matplotlib==3.5.2) (1.20.3)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/dima/opt/anaconda3/lib/python3.9/site-packages (from matplotlib==3.5.2) (3.0.4)
Requirement already satisfied: packaging>=20.0 in /Users/dima/opt/anaconda3/lib/python3.9/site-packages (from matplotlib==3.5.2) (21.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/dima/opt/anaconda3/lib/python3.9/site-packages (from matplotlib==3.5.2) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/dima/opt/anaconda3/lib/python3.9/site-packages (from matplotlib==3.5.2) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /Users/dima/opt/anaconda3/lib/python3.9/site-packages (from matplotlib==3.5.2) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/dima/opt/anaconda3/lib/python3.9/site-packages (from matplotlib==3.5.2) (8.4.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/dima/opt/anaconda3/lib/python3.9/site-packages (from matplotlib==3.5.2) (4.25.0)
Requirement already satisfied: six in /Users/dima/opt/anaconda3/lib/python3.9/site-packages (from cycler>=0.10->matplotlib==3.5.2) (1.16.0)

## Preprocessing

Download "detailed data" files from https://ci5.iarc.fr/ci5i-x/pages/download.aspx and https://ci5.iarc.fr/CI5-XI/Pages/download.aspx for each volumes.

In [4]:
# list of URL of volume files from  https://ci5.iarc.fr/ci5i-x/pages/download.aspx and
# https://ci5.iarc.fr/CI5-XI/Pages/download.aspx
urls = (
    "https://ci5.iarc.fr/CI5-X/CI5-Xd.zip",
    "https://ci5.iarc.fr/ci5i-x/old/vol9/CI5-IXd.zip",
    "https://ci5.iarc.fr/ci5i-x/old/vol8/CI5-VIIId.zip",
    "https://ci5.iarc.fr/ci5i-x/old/vol7/CI5-VIId.zip",
    "https://ci5.iarc.fr/ci5i-x/old/vol6/CI5-VI.zip",
    "https://ci5.iarc.fr/ci5i-x/old/vol5/CI5-V.zip",
    "https://ci5.iarc.fr/CI5-XI/CI5-XI.zip"
)

# create a new dir CI5 to save volume files
os.makedirs("CI5", exist_ok=True)

def download_if_not_exists(url, path):
    """Download a file from the url and save to the path only if file does not already exist"""
    if os.path.exists(path):
        print(f"File {path} exists in cache")
    else:
        print(f"Downloading {url}...")
        response = requests.get(url)
        print(f"Save to {path}")
        open(path, "wb").write(response.content)

def unzip(file_path, target_dir):
    """Extract ZIP file file_path to target_dir"""
    print(f"Extract {file_path} to {target_dir}")
    with zipfile.ZipFile(file_path, "r") as zip_ref:
        zip_ref.extractall(target_dir)

for url in urls:
    url_path = urlparse(url).path
    file_name = os.path.basename(url_path)
    file_path = os.path.join("CI5", file_name)
    volume_name = os.path.splitext(file_name)[0]
    volume_path = os.path.join("CI5", volume_name)
    
    if os.path.exists(volume_path):
        print(f"Volume {volume_name} exists in cache")
    else:
        download_if_not_exists(url, file_path)
        unzip(file_path, os.path.join("CI5", volume_name))

Volume CI5-Xd exists in cache
Volume CI5-IXd exists in cache
Volume CI5-VIIId exists in cache
Volume CI5-VIId exists in cache
Volume CI5-VI exists in cache
Volume CI5-V exists in cache
Volume CI5-XI exists in cache

### Volume V

In [44]:
v_registry_df = pd.read_csv("CI5/CI5-V/registry.txt", sep="\t", index_col=0)
v_cases_df = pd.read_csv("CI5/CI5-V/cases.csv", index_col=0)
v_pops_df = pd.read_csv("CI5/CI5-V/pops.csv", index_col=0)

# merge registry with population information
v_pops_df = v_registry_df.join(v_pops_df, how="inner", lsuffix="_POP")
v_pops_df["PERIOD"] = v_pops_df["PERIOD_1"].astype(str) + '-' + v_pops_df["PERIOD_2"].astype(str)
v_pops_df = v_pops_df.groupby("PERIOD").sum()

# merge cases with population information
v_cases_df = v_registry_df.join(v_cases_df, how="inner", lsuffix="_registry")
v_cases_df["PERIOD"] = v_cases_df["PERIOD_1"].astype(str) + '-' + v_cases_df["PERIOD_2"].astype(str)
v_cases_df = v_cases_df.groupby("PERIOD").sum()

# merge cases with population information
v_df = v_cases_df.join(v_pops_df, how="inner", lsuffix="_POP")

# remove unnecessary columns
v_df.drop(columns=['ETHNIC_GROUP_registry', 'PERIOD_1_POP', 'PERIOD_2_POP',
                   'ETHNIC_GROUP_POP', 'SEX_POP', 'CANCER', 'TOTAL_POP',
                   'ETHNIC_GROUP_POP', 'PERIOD_1', 'PERIOD_2', 'ETHNIC_GROUP',
                   'SEX', 'AGE_CLASS', 'TOTAL'], inplace=True)

# v_df# uncomment to display data for this volume

### Volume VI

In [114]:
vi_registry_df = pd.read_csv("CI5/CI5-VI/registry.txt", sep="\t", index_col=0, names=["REGISTRY", "PERIOD_1", "PERIOD_2", "NAME"])
vi_cases_df = pd.read_csv("CI5/CI5-VI/cases.csv", index_col=0)
vi_pops_df = pd.read_csv("CI5/CI5-VI/pops.csv", index_col=0)

# merge registry with population information
vi_pops_df = vi_registry_df.join(vi_pops_df, how="inner", lsuffix="_POP")
vi_pops_df["PERIOD"] = vi_pops_df["PERIOD_1"].astype(str) + '-' + vi_pops_df["PERIOD_2"].astype(str)
vi_pops_df = vi_pops_df.groupby("PERIOD").sum()

# merge cases with population information
vi_cases_df = vi_registry_df.join(vi_cases_df, how="inner", lsuffix="_registry")
vi_cases_df["PERIOD"] = vi_cases_df["PERIOD_1"].astype(str) + '-' + vi_cases_df["PERIOD_2"].astype(str)
vi_cases_df = vi_cases_df.groupby("PERIOD").sum()

# merge cases with population information
vi_df = vi_cases_df.join(vi_pops_df, how="inner", lsuffix="_POP")

# remove unnecessary columns
vi_df.drop(columns=['PERIOD_1_POP', 'PERIOD_2_POP', 'SEX_POP', 'CANCER', 'TOTAL_POP',
                   'PERIOD_1', 'PERIOD_2', 'SEX', 'N_AGR', 'TOTAL'], inplace=True)

# rename columns to standard form
vi_df.rename(columns={"N85": "N85+", "N_unk": "N_UNK", "P_unk": "P_UNK", "P85": "P85+"}, inplace=True)

vi_df # uncomment to display data for this volume

,N0_4,N5_9,N10_14,N15_19,N20_24,N25_29,N30_34,N35_39,N40_44,N45_49,...,P45_49,P50_54,P55_59,P60_64,P65_69,P70_74,P75_79,P80_84,P85+,P_UNK
PERIOD,,,,,,,,,,,,,,,,,,,,,
1981-1985,144,103,97,101,100,270,752,1318,1936,2339,...,304505,269555,222610,170870,136475,107785,71890,41690,24220,3135
1982-1986,3015,2079,2036,2773,3781,5695,10208,15114,17332,24596,...,3305097,3121477,3022108,2752368,2186081,2074675,1990532,380700,208135,0
1982-1987,372,280,189,333,476,869,1399,2187,3259,5511,...,735250,727108,648293,496388,334529,369863,276980,230061,0,5405
1983-1984,39,9,18,38,51,78,156,228,341,580,...,56126,59484,57450,50413,32839,40467,31781,31647,0,0
1983-1985,147,96,65,137,202,229,308,607,940,1504,...,229389,238785,227094,196740,153213,132030,116700,41028,23223,0
1983-1986,1130,660,770,1118,1852,2802,4852,7770,11256,16883,...,2124257,2113451,2093954,1982784,1535548,1384899,1005605,609301,299751,65
1983-1987,66198,39396,40660,69574,113339,185680,285256,430059,590906,843293,...,101190507,94731052,91631533,85173780,66776966,59121586,44325175,26059575,16930253,44175
1984-1985,6,17,23,18,28,29,47,158,208,402,...,39828,37020,37403,44821,25218,37975,28084,15937,8802,0
1984-1986,68,24,38,59,63,76,268,502,679,1014,...,161130,175818,171378,139755,108318,95178,71364,42951,25248,69
1984-1987,1269,750,743,974,1332,2129,3189,4472,5211,7778,...,1093227,1086143,1007190,853693,580587,456896,335649,212581,87208,0
1985-1987,454,356,410,559,797,1148,1774,2969,4548,7812,...,928766,888299,814600,696120,490370,468566,622126,63051,32384,0
1986-1986,379,273,305,513,511,673,875,1687,2525,3289,...,538108,436311,376844,320114,311917,247118,177569,65673,61770,0
1986-1987,381,288,354,478,541,1127,1377,2321,3341,5884,...,777975,740090,744012,587449,403576,354621,307859,150087,98264,0
1986-1988,24,27,45,99,132,219,365,521,846,1089,...,158790,145839,141309,130254,106041,80010,56724,33561,21699,0
1986-1989,145,194,101,194,141,188,205,281,318,436,...,137076,103584,90976,227376,0,0,0,0,0,0
1987-1987,99,96,70,106,89,199,285,405,615,813,...,65420,65684,49660,36637,27534,19644,22390,0,0,501
1987-1989,89,95,81,90,154,272,449,482,571,600,...,130653,115672,68844,72756,104976,11128,6073,8073,0,9061
1988-1989,293,265,262,321,402,671,1126,1520,2041,2513,...,341875,292483,237615,175806,138537,93048,67336,22504,16698,0

### Volume VIId

In [115]:
viid_registry_df = pd.read_csv("CI5/CI5-VIId/registry.txt", index_col=0, names=["REGISTRY", "NAME"])
# remove the first row as it is a broken header
viid_registry_df = viid_registry_df[1:]

viid_name_split_df = viid_registry_df["NAME"].str.extract(r"(.+)\s+\((\d+)-(\d+)\)", expand=True)
viid_name_split_df
viid_registry_df[["PERIOD_1", "PERIOD_2"]] = viid_name_split_df[[1,2]].rename(columns= {1: "PERIOD_1", 2: "PERIOD_2"})
viid_registry_df.index =  viid_registry_df.index.astype(int)

viid_data_df = pd.read_csv("CI5/CI5-VIId/CI5VII.csv", names=["REGISTRY", "SEX", "CANCER_NUMBER", "AGE", "CASES_COUNT", "PERSON_YEARS"])

viid_cases_df = viid_data_df.copy()
viid_cases_df["AGE"] = viid_cases_df["AGE"].replace({1: "N0_4", 2: "N5_9", 3: "N10_14", 4: "N15_19", 5: "N20_24", 6: "N25_29", 7: "N30_34", 8: "N35_39", 9: "N40_44", 10: "N45_49", 11: "N50_54", 12: "N55_59", 13: "N60_64", 14: "N65_69", 15: "N70_74", 16: "N75_79", 17: "N80_84", 18: "N85+", 19: "N_UNK"})
viid_cases_df = viid_cases_df.groupby(["REGISTRY", "AGE"])["CASES_COUNT"].sum().to_frame().reset_index().pivot(index="REGISTRY", columns="AGE", values="CASES_COUNT")

viid_pop_df = viid_data_df.copy()
viid_pop_df["AGE"] = viid_pop_df["AGE"].replace({1: "P0_4", 2: "P5_9", 3: "P10_14", 4: "P15_19", 5: "P20_24", 6: "P25_29", 7: "P30_34", 8: "P35_39", 9: "P40_44", 10: "P45_49", 11: "P50_54", 12: "P55_59", 13: "P60_64", 14: "P65_69", 15: "P70_74", 16: "P75_79", 17: "P80_84", 18: "P85+", 19: "P_UNK"})
viid_pop_df = viid_pop_df.groupby(["REGISTRY", "AGE"])["PERSON_YEARS"].sum().to_frame().reset_index().pivot(index="REGISTRY", columns="AGE", values="PERSON_YEARS")

viid_df = viid_cases_df.join(viid_pop_df, how="inner", lsuffix="_POP")

viid_df = viid_registry_df.join(viid_df, how="inner", lsuffix="_registry")
viid_df["PERIOD"] = viid_df["PERIOD_1"].astype(str) + '-' + viid_df["PERIOD_2"].astype(str)

# remove unnecessary columns
viid_df.drop(columns=['NAME', 'PERIOD_1', 'PERIOD_2'], inplace=True)
viid_df.set_index("PERIOD", inplace=True)
viid_df.sort_index(axis=1, inplace=True)

viid_df # uncomment to display data for this volume

,N0_4,N10_14,N15_19,N20_24,N25_29,N30_34,N35_39,N40_44,N45_49,N50_54,...,P50_54,P55_59,P5_9,P60_64,P65_69,P70_74,P75_79,P80_84,P85+,P_UNK
PERIOD,,,,,,,,,,,,,,,,,,,,,
1990-1993,186,227,263,222,272,377,434,617,671,866,...,29678544,25679808,177546096,45814608,0,0,0,0,0,0
1988-1992,260,117,182,200,408,587,751,1042,1567,1915,...,30733920,24215940,78756300,20754720,16726500,27043380,0,0,0,0
1988-1992,114,109,137,341,450,729,904,1007,978,1013,...,21373380,14553000,125475840,10686060,8327340,11342520,0,0,0,0
1991-1993,501,199,270,718,1128,1119,844,819,681,694,...,13003200,6334524,96330276,6724620,3511620,8204868,0,0,0,709884
1990-1992,244,143,259,490,920,1074,1222,1086,1269,1718,...,21045276,13261248,93449160,10541664,5501160,8277948,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1988-1992,128,39,76,248,503,692,1061,1378,1493,1636,...,16809408,14102676,22559040,14180040,12817728,9728460,6865992,3919860,2963772,0
1988-1992,6,0,8,12,62,97,113,189,162,238,...,4217472,4436712,4534236,4982544,4632516,3493224,2500092,1552320,1324512,0
1988-1992,78,33,68,102,136,231,385,477,400,633,...,8650908,8214696,16376472,8423352,7381836,5426064,3995460,2548476,1937880,0
1988-1992,150,72,96,107,155,273,330,496,679,887,...,8824788,7521192,30320388,7044408,5696208,3885588,2576448,1447992,1104768,0
1988-1992,40,21,47,56,82,272,410,642,877,1061,...,17486532,19899684,15499008,24342696,23737644,17725176,11747736,6520248,5164740,0

### Volume VIIId

In [83]:
viiid_registry_df = pd.read_table("CI5/CI5-VIIId/registry.txt", index_col=0)
viiid_registry_df = viiid_registry_df.index.str.extract(r"\s*(\d+)\s+(.*)\((\d+)(-(\d+))?\)", expand=True).drop(columns=3)
viiid_registry_df = viiid_registry_df.rename(columns= {0: "REGISTRY", 1: "NAME", 2: "PERIOD_1", 4: "PERIOD_2"}).set_index("REGISTRY")
viiid_registry_df.index = viiid_registry_df.index.astype(int)

viiid_cases_df = pd.read_csv("CI5/CI5-VIIId/CI5-VIII.csv", names=["REGISTRY", "SEX", "CANCER_NUMBER", "AGE", "CASES_COUNT", "PERSON_YEARS"])
viiid_cases_df["AGE"].replace({1: "N0_4", 2: "N5_9", 3: "N10_14", 4: "N15_19", 5: "N20_24", 6: "N25_29", 7: "N30_34", 8: "N35_39", 9: "N40_44", 10: "N45_49", 11: "N50_54", 12: "N55_59", 13: "N60_64", 14: "N65_69", 15: "N70_74", 16: "N75_79", 17: "N80_84", 18: "N85+", 19: "N_UNK"}, inplace=True)
viiid_cases_df = viiid_cases_df.groupby(["REGISTRY", "AGE"])["CASES_COUNT"].sum().to_frame().reset_index().pivot(index="REGISTRY", columns="AGE", values="CASES_COUNT")


viiid_df = viiid_registry_df.join(viid_cases_df, how="inner", lsuffix="_registry")
viiid_df = viiid_df[["PERIOD_1", "PERIOD_2", "N0_4","N5_9","N10_14","N15_19","N20_24","N25_29","N30_34","N35_39","N40_44","N45_49","N50_54","N55_59","N60_64","N65_69","N70_74","N75_79","N80_84","N85+","N_UNK"]]

# Fix a broken record for Taiwan
viiid_df.loc[81, 'PERIOD_1'] = 1993
viiid_df.loc[81, 'PERIOD_2'] = 1997

viiid_df["PERIOD"] = viiid_df["PERIOD_1"].astype(str) + '-' + viiid_df["PERIOD_2"].astype(str)
viiid_df = viiid_df.groupby(["PERIOD"]).sum()

viiid_df # uncomment to display data for this volume

,N0_4,N5_9,N10_14,N15_19,N20_24,N25_29,N30_34,N35_39,N40_44,N45_49,N50_54,N55_59,N60_64,N65_69,N70_74,N75_79,N80_84,N85+,N_UNK
PERIOD,,,,,,,,,,,,,,,,,,,
1983-1997,127,16,17,60,151,125,295,362,361,606,694,758,793,643,579,338,200,100,0
1991-1995,2041,1507,1323,1808,2912,4598,6919,8854,12016,14866,19160,23940,34307,41337,40204,37934,27314,20810,1235
1992-1993,114,103,69,108,109,169,318,377,456,569,676,619,832,839,766,777,586,515,148
1992-1995,834,466,482,866,1456,2390,3098,4561,7543,11236,17309,26416,38061,49603,47601,44683,31725,21949,0
1992-1996,124,148,209,220,390,794,1286,1720,2166,2951,3765,5133,6172,6060,5429,4234,2883,1845,2700
1993-1994,260,99,117,182,200,408,587,751,1042,1567,1915,2256,2273,2490,1843,1581,923,546,0
1993-1995,519,487,489,763,1144,1546,3125,5460,8027,11291,19500,28851,36453,36181,27028,25646,16927,10116,15
1993-1996,7301,5360,4493,7958,12858,19452,28071,36544,46988,70032,94880,122815,162418,201101,174729,196508,133855,81112,276
1993-1997,133555,80287,77885,124159,196708,340851,522488,756035,1093152,1400429,1867848,2684472,3826324,4798216,4622549,4284424,2969349,2083218,15368
1994-1996,619,351,294,378,1042,1550,1767,1679,2256,2835,3577,4523,6321,7236,7029,7632,5756,4124,278
1994-1997,8189,6623,6061,9210,12959,20999,33079,49522,72761,94715,156763,218893,293276,305232,241969,232106,153903,92772,3882
1995-1996,599,454,332,453,682,971,1755,1871,2294,2778,3520,4546,5529,5373,4735,4234,2565,1863,2280
1995-1997,4146,2639,2317,3525,5557,9092,13642,19997,32418,43568,53609,75299,104437,131330,126738,118536,86753,59293,1145
1995-1998,369,194,285,375,490,921,1135,1747,2536,2899,3372,4460,5302,5669,5326,4398,3147,2630,156
1996-1997,313,293,263,427,523,611,1263,1981,2908,3656,5849,9149,12330,13823,12086,10581,7321,4976,701
1997-1998,620,456,566,834,1398,2282,3813,5179,6675,8632,13549,17819,23243,25288,20514,20907,14088,8494,0

### Volume IXd

In [7]:
ixd_registry_df = pd.read_table("CI5/CI5-IXd/registry.txt", names=["REGISTRY", "NAME"], index_col=0)
ixd_registry_df = ixd_registry_df["NAME"].str.extract(r"\s*(.*)\s*\((\d+)-(\d+)\)", expand=True)
ixd_registry_df = ixd_registry_df.rename(columns= {0: "NAME", 1: "PERIOD_1", 2: "PERIOD_2"})

registry_dfs = []
for registry in ixd_registry_df.index:
    df = pd.read_csv(f"CI5/CI5-IXd/{registry}.csv", names=["SEX", "CANCER_NUMBER", "AGE", "CASES_COUNT", "PERSON_YEARS"])
    df['REGISTRY'] = registry
    registry_dfs.append(df)

ixd_cases_df = pd.concat(registry_dfs)
ixd_cases_df["AGE"].replace({1: "N0_4", 2: "N5_9", 3: "N10_14", 4: "N15_19", 5: "N20_24", 6: "N25_29", 7: "N30_34", 8: "N35_39", 9: "N40_44", 10: "N45_49", 11: "N50_54", 12: "N55_59", 13: "N60_64", 14: "N65_69", 15: "N70_74", 16: "N75_79", 17: "N80_84", 18: "N85+", 19: "N_UNK"}, inplace=True)
ixd_cases_df = ixd_cases_df.groupby(["REGISTRY", "AGE"])["CASES_COUNT"].sum().to_frame().reset_index().pivot(index="REGISTRY", columns="AGE", values="CASES_COUNT")


ixd_df = ixd_registry_df.join(ixd_cases_df, how="inner", lsuffix="_registry")
ixd_df["PERIOD"] = ixd_df["PERIOD_1"].astype(str) + '-' + ixd_df["PERIOD_2"].astype(str)
ixd_df = ixd_df[["PERIOD", "N0_4","N5_9","N10_14","N15_19","N20_24","N25_29","N30_34","N35_39","N40_44","N45_49","N50_54","N55_59","N60_64","N65_69","N70_74","N75_79","N80_84","N85+","N_UNK"]]
ixd_df = ixd_df.groupby(["PERIOD"]).sum()

# ixd_df # uncomment to display data for this volume

### Volume Xd

In [8]:
# A file CI5/CI5-Xd/registry.txt contains unicode errors which cause error when read it directly with pd.read_table()
with codecs.open("CI5/CI5-Xd/registry.txt", 'r', 'utf8', errors="ignore") as ff:
    content = ff.read()

xd_registry_df = pd.read_table(io.StringIO(content), names=["REGISTRY", "NAME"], index_col=0)
xd_registry_df
xd_registry_df = xd_registry_df["NAME"].str.extract(r"\s*(.*)\s*\((\d+)-(?:\d+,\d+-)?(\d+)\)", expand=True)
xd_registry_df
xd_registry_df = xd_registry_df.rename(columns= {0: "NAME", 1: "PERIOD_1", 2: "PERIOD_2"})

registry_dfs = []
for registry in xd_registry_df.index:
    df = pd.read_csv(f"CI5/CI5-Xd/{registry}.csv", names=["SEX", "CANCER_NUMBER", "AGE", "CASES_COUNT", "PERSON_YEARS"])
    df['REGISTRY'] = registry
    registry_dfs.append(df)

xd_cases_df = pd.concat(registry_dfs)

xd_cases_df["AGE"].replace({1: "N0_4", 2: "N5_9", 3: "N10_14", 4: "N15_19", 5: "N20_24", 6: "N25_29", 7: "N30_34", 8: "N35_39", 9: "N40_44", 10: "N45_49", 11: "N50_54", 12: "N55_59", 13: "N60_64", 14: "N65_69", 15: "N70_74", 16: "N75_79", 17: "N80_84", 18: "N85+", 19: "N_UNK"}, inplace=True)
xd_cases_df = xd_cases_df.groupby(["REGISTRY", "AGE"])["CASES_COUNT"].sum().to_frame().reset_index().pivot(index="REGISTRY", columns="AGE", values="CASES_COUNT")


xd_df = xd_registry_df.join(xd_cases_df, how="inner", lsuffix="_registry")
xd_df["PERIOD"] = xd_df["PERIOD_1"].astype(str) + '-' + xd_df["PERIOD_2"].astype(str)
xd_df = xd_df[["PERIOD", "N0_4","N5_9","N10_14","N15_19","N20_24","N25_29","N30_34","N35_39","N40_44","N45_49","N50_54","N55_59","N60_64","N65_69","N70_74","N75_79","N80_84","N85+","N_UNK"]]
xd_df = xd_df.groupby(["PERIOD"]).sum()

# xd_df # uncomment to display data for this volume

### Volume XI

In [9]:
# A file CI5/CI5-XI/registry.txt contains unicode errors which cause error when read it directly with pd.read_table()
with codecs.open("CI5/CI5-XI/registry.txt", 'r', 'utf8', errors="ignore") as ff:
    content = ff.read()

xi_registry_df = pd.read_table(io.StringIO(content), names=["REGISTRY", "NAME"], index_col=0)
xi_registry_df = xi_registry_df["NAME"].str.extract(r"\s*(.*)\s*\((\d+)-(?:\d+,\d+-)?(\d+)\)", expand=True)
xi_registry_df = xi_registry_df.rename(columns= {0: "NAME", 1: "PERIOD_1", 2: "PERIOD_2"})

xi_cases_df = pd.read_csv("CI5/CI5-XI/cases.csv", index_col=0)
xi_df = xi_registry_df.join(xi_cases_df, how="inner")
xi_df["PERIOD"] = xi_df["PERIOD_1"].astype(str) + '-' + xi_df["PERIOD_2"].astype(str)
xi_df = xi_df[["PERIOD", "N0_4","N5_9","N10_14","N15_19","N20_24","N25_29","N30_34","N35_39","N40_44","N45_49","N50_54","N55_59","N60_64","N65_69","N70_74","N75_79","N80_84","N85","N_unk"]]
xi_df = xi_df.groupby(["PERIOD"]).sum()
xi_df.rename(columns={"N85": "N85+", "N_unk": "N_UNK"}, inplace=True)

# xi_df # uncomment to display data for this volume

### Save results

Merge data from all volumes and save to onle intermediate CSV file that serve as a source for the further stages. This file is relatively small and can be cached, so there is no need to run Preprocessing stage more than once.

In [10]:
df = pd.concat([v_df, vi_df, viid_df, viiid_df, ixd_df, xd_df, xi_df])
df.to_csv("preprocessed.csv")

## Processing

In [81]:
df = pd.read_csv("preprocessed.csv", index_col=0)
years = df.index.str.extract("(\d+)-(\d+)", expand=True)
years_count = (years[1].astype(int) - years[0].astype(int) + 1)
years_count.set_axis(df.index, inplace=True)
df = df.floordiv(years_count, axis=0)
df.reset_index(inplace=True)
df.insert(1, "YEAR", df["PERIOD"].str.extract("(\d+)-(\d+)", expand=True).apply(lambda x : list(range(int(x[0]), int(x[1])+1)), axis=1))
df = df.explode("YEAR")
df.reset_index(inplace=True)
df.drop(columns=["index", "PERIOD"], inplace=True)
df = df.groupby("YEAR").sum()
df

,N0_4,N5_9,N10_14,N15_19,N20_24,N25_29,N30_34,N35_39,N40_44,N45_49,N50_54,N55_59,N60_64,N65_69,N70_74,N75_79,N80_84,N85+,N_UNK
YEAR,,,,,,,,,,,,,,,,,,,
1973,10,6,8,10,19,22,31,45,61,96,133,164,202,246,272,236,222,151,0
1974,10,6,8,10,19,22,31,45,61,96,133,164,202,246,272,236,222,151,0
1975,10,6,8,10,19,22,31,45,61,96,133,164,202,246,272,236,222,151,0
1976,10,6,8,10,19,22,31,45,61,96,133,164,202,246,272,236,222,151,0
1977,5122,3576,2861,4333,5335,9055,14381,14798,20635,31154,44179,62395,71547,106349,107060,80649,47391,26982,2501
1978,23687,14430,14395,23668,35280,57622,86279,109677,160021,243303,368573,518873,592673,729451,729843,591088,377385,255397,9787
1979,33195,21014,21826,34713,49778,81630,131024,171260,251940,385579,600621,897084,1049378,1336703,1391126,1151620,729088,490048,5988
1980,33537,21246,22105,35069,50232,82236,131970,172317,253521,388155,604319,900688,1053558,1340169,1394676,1154306,730718,490600,7248
1981,33596,21279,22110,35107,50363,82472,132099,172609,254019,389112,606023,903490,1056167,1343126,1398013,1156649,731929,491552,6278
1982,28646,18058,19466,31104,45516,74113,118786,159537,233640,356797,560806,841288,989353,1237456,1295790,1082688,689155,468374,4575
1983,14323,8580,8825,14912,24124,39342,60955,92053,126046,180290,262396,387423,515274,549490,613962,536408,351052,235475,2441
1984,14644,8766,9021,15167,24470,39879,61825,93342,127566,182556,265930,392364,521369,554753,619864,541675,354462,237503,2555
1985,14776,8880,9148,15334,24710,40222,62338,94217,128912,184870,269149,397119,527010,559931,625819,550246,356122,238419,2623
1986,15401,9353,9700,16198,25592,41644,64130,97421,133783,191861,278445,410231,542900,576868,642835,566034,367329,245540,3942
1987,14790,8936,9183,15399,24653,40377,61859,93530,129387,184866,268094,394795,522709,555406,614493,542987,353668,237392,2999
1988,33066,20534,19500,31279,49357,84211,128168,183983,264724,345487,470771,669744,944003,1171203,1105849,1049082,726927,503246,5257
1989,34131,21324,20207,32487,51303,87184,132708,190791,275653,359742,489689,696670,980815,1218062,1150158,1091607,757127,522876,5659
1990,33833,21241,20287,32274,50587,85294,130296,188269,273080,349858,474651,678879,961551,1193814,1134710,1062635,739380,516884,6833
1991,31271,19965,19095,29995,46570,78847,121335,174505,249060,318957,428341,608318,854093,1043063,988568,910571,626738,432399,6800
1992,30227,19019,18192,28889,45077,76794,118195,169690,242220,309791,414893,588845,831950,1020496,972564,891551,614270,425106,4785
1993,30285,18654,17880,28478,45057,76890,117284,168367,241516,312343,418150,595535,842444,1049968,1003198,937555,649123,451701,4457
1994,31740,19834,18963,30225,47668,81217,124178,178806,257340,333252,454216,647198,912436,1124048,1062185,995695,687910,475222,4996
1995,33383,20932,19911,31621,49871,84740,129553,186416,269326,349026,473601,674399,950008,1170498,1107042,1037481,718334,496236,6556
1996,32890,20575,19579,31159,49067,83412,127574,183774,265586,344457,466203,663047,934466,1154424,1094495,1024348,708829,490322,6812
1997,30968,19186,18534,29371,46081,78984,121401,176401,256343,330487,448391,639885,904350,1116913,1061567,985473,682078,474303,4984
1998,109869,67159,71856,109507,159256,256801,410626,652089,1034790,1510481,2172050,2692099,3235231,3937117,4418724,4078922,2764978,2229700,21824
1999,113248,69384,74033,112888,164045,265312,425714,677323,1075382,1561816,2233873,2767725,3330664,4036844,4509502,4146379,2797931,2250814,21829
2000,113583,69647,74311,113248,164411,266074,426959,679528,1078524,1566000,2238210,2772049,3336099,4043485,4515550,4150632,2801272,2252117,21887
2001,113338,69500,74158,112984,163948,265333,425738,677500,1075331,1560711,2230368,2761893,3322234,4024375,4494458,4131426,2789238,2240884,21729
2002,111920,68492,73042,111355,161320,261234,419482,667729,1060644,1539036,2199217,2722677,3269048,3956009,4420729,4065541,2751098,2205894,20301
2003,147703,83873,95843,152205,233787,354176,543922,840667,1414114,2227405,3183196,4220899,4810798,5384873,5460588,5277478,4020967,3110408,23134
2004,149042,84738,96867,153800,236081,357640,549438,849831,1428941,2250259,3215619,4263991,4859524,5443156,5524762,5337290,4063161,3135004,23149
2005,149862,85460,97611,154913,237795,360237,553254,855754,1437484,2262419,3232463,4286835,4887540,5474882,5559138,5370255,4088752,3155764,23178
2006,149206,84958,97018,154091,236665,358422,550570,851708,1431312,2253789,3221046,4272041,4869425,5452180,5534281,5347174,4072169,3144711,22851
2007,148366,84396,96382,153074,235059,355661,545967,844602,1421165,2240043,3201627,4244280,4833894,5407847,5486033,5301596,4038558,3121475,22492
2008,117091,64448,73361,125555,205446,339283,510044,784525,1308915,2205168,3379021,4398763,5424524,5775077,5359155,4738410,3791839,3353773,1109
2009,117455,64678,73558,125827,205954,340136,511389,786952,1312801,2210790,3385754,4406648,5431726,5781314,5365506,4743722,3795163,3355792,1109
2010,118613,65366,74268,127048,207955,343313,516568,795756,1326236,2229392,3407371,4435555,5462061,5810498,5397250,4772031,3814841,3367913,1459
2011,117624,64754,73540,125905,206119,340252,511136,787020,1312199,2207831,3376812,4394625,5411259,5753653,5336475,4713624,3769572,3333067,1446
2012,116821,64222,72926,124858,204470,337685,506939,780578,1302184,2193493,3358216,4371705,5383837,5723832,5305315,4683903,3747025,3315440,1375

## Analysis

In [89]:
total = df.sum(axis=1).rename("Total")
young_adults = (df["N45_49"] + df["N20_24"] + df["N25_29"] + df["N30_34"] + df["N35_39"] + df["N40_44"]).rename("Young adults")
# young_adults.pct_change().plot()

# df_pop = pd.read_csv("population_data.csv", index_col=0)
# df_pop.drop(columns=["Series Code", "Country Code", "Country Name"], inplace=True)
# df_pop.replace("..", None, inplace=True)
# df_pop.dropna(inplace=True)
# pop = df_pop.astype(int).sum()
# pop.index = pop.index.map(lambda x: int(x.split()[0]))
# pop.rename("Young adult population", inplace=True)


# (young_adults / (pop / 100000))


# df = pd.merge(total, pop, right_index = True, left_index = True)
# df = pd.merge(df, pop, right_index = True, left_index = True)
# df
# plt.figure();
# df.sum(axis=1).plot()
# (df["N45_49"] + df["N20_24"] + df["N25_29"] + df["N30_34"] + df["N35_39"] + df["N40_44"]).plot()

1973          NaN
1974          NaN
1975          NaN
1976          NaN
1977          NaN
1978     3.973657
1979     6.002088
1980     5.898458
1981     5.769463
1982     5.150760
1983     2.660177
1984     2.631674
1985     2.596466
1986     2.629398
1987     2.477706
1988     4.782079
1989     4.860427
1990     4.669720
1991     4.207173
1992     4.013417
1993     3.937309
1994     4.113308
1995     4.229383
1996     4.099505
1997     3.869295
1998    15.206097
1999    15.528893
2000    15.331020
2001    15.058842
2002    14.607571
2003    19.626955
2004    19.521781
2005    19.369049
2006    19.048360
2007    18.708256
2008    17.575724
2009    17.464754
2010    17.481046
2011    17.165657
2012    16.902159
dtype: float64

## References

<a id='ref_1'>[1]</a> "What Is Cancer?" by National Cancer Institute (2021, May 5) [Online]. Available: https://www.cancer.gov/about-cancer/understanding/what-is-cancer

<a id='ref_2'>[2]</a> "Age and Cancer Risk" Am J Prev Med. 2014 Mar; 46(3 0 1): S7–15. [Online]. Available: https://doi.org/10.1016/j.amepre.2013.10.029

<a id='ref_3'>[3]</a> "Childhood Cancers" by National Cancer Institute (2021, April 12) [Online]. Available: https://www.cancer.gov/types/childhood-cancers

<a id='ref_4'>[4]</a> "The Challenging Landscape of Cancer and Aging: Charting a Way Forward" by Norman E. Sharpless, M.D. (2018, January 24) [Online]. Available: https://www.cancer.gov/news-events/cancer-currents-blog/2018/sharpless-aging-cancer-research

<a id='ref_5'>[5]</a> di Martino, E., Smith, L., Bradley, S.H. et al. Incidence trends for twelve cancers in younger adults—a rapid review. Br J Cancer 126, 1374–1386 (2022). [Online]. Available: https://doi.org/10.1038/s41416-022-01704-x

<a id='ref_6'>[6]</a> Scott AR, Stoltzfus KC, Tchelebi LT, et al. Trends in Cancer Incidence in US Adolescents and Young Adults, 1973-2015. JAMA Netw Open. 2020;3(12):e2027738. [Online]. Available: https://doi.org/10.1001/jamanetworkopen.2020.27738

<a id='ref_7'>[7]</a> Cancer Stat Facts: Cancer Among Adolescents and Young Adults (AYAs) (Ages 15–39) by National Cancer Institute (2022) [Online]. Available: https://seer.cancer.gov/statfacts/html/aya.html

<a id='ref_8'>[8]</a> CI5: CANCER INCIDENCE IN FIVE CONTINENTS by International Agency for Research on Cancer (IARC) [Online]. Available: https://ci5.iarc.fr/Default.aspx